.github
.husky
.storybook
.vscode
.eslintrc.js
.firebaserc
development
node_modules
src
storybook
template
commitlint.config.js
exports.json
firestore*
firebase*
*.log
postcss.config.js
storybook-static/**
tailwind.config.js
tsconfig.json
tsconfig.eslint.json
tsconfig.node.json
tsconfig.prod.json
vite.config.ts