:root {
    --omlette-form-item-padding-y: .25rem;
    --omlette-form-item-padding-x: 0;

    --omlette-form-item-inline-gap: .5rem;
}

:where(.omlette-form-item-wrapper) {
    --omlette-form-item-padding-top: var(--omlette-form-item-padding-y);
    --omlette-form-item-padding-button: var(--omlette-form-item-padding-y);
    --omlette-form-item-padding-left: var(--omlette-form-item-padding-x);
    --omlette-form-item-padding-right: var(--omlette-form-item-padding-x);

    padding: 
        var(--omlette-form-item-padding-top)
        var(--omlette-form-item-padding-left)
        var(--omlette-form-item-padding-button)
        var(--omlette-form-item-padding-right);
}

:where(.omlette-form-item-wrapper.omlette-form-item-inline) {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: var(--omlette-form-item-inline-gap);
    align-items: center;
}

:where(.omlette-form-item-wrapper.omlette-form-item-inline > *:not(:first-child)) {
    grid-column: 2;
}
