:root {
  --omlette-collapse-duration: 300ms;
}

:where(.omlette-collapse-panel-container) {
  @apply overflow-hidden;
}

:where(.omlette-collapse-panel) {
  @apply transition-transform overflow-auto shadow-md shadow-slate-100;
  background-color: var(--omlette-drawer-background-color);
  transition-duration: var(--omlette-collapse-duration);
}

:where(.omlette-collapse-panel) {
  transform: translateY(-150%);
}

:where(.omlette-collapse-panel-enter, .omlette-collapse-panel-enter-done) {
  transform: translateY(0);
}

:where(.omlette-collapse-carrot) {
  @apply transition-transform;
  transform: rotate(0deg);
  transition-duration: var(--omlette-collapse-duration);
}

:where(.omlette-collapse-carrot-enter, .omlette-collapse-carrot-enter-done) {
  transform: rotate(-180deg);
}

:where(.omlette-collapse-panel-container-unopened) {
  visibility: hidden;
}

:where(.omlette-collapse-panel-container .omlette-collapse-panel-exit-done) {
  height: 0;
}

/* We can remove the @supports once Firefox supports the :has feature */
@supports selector(:has(*)) {
  :where(.omlette-collapse-panel-container:has(.omlette-collapse-panel-exit-done)) {
    visibility: hidden;
  }
  :where(.omlette-collapse-panel-container .omlette-collapse-panel-exit-done) {
    height: initial;
  }
}
