:root {
  --omlette-label-text-color: var(--tw-color-neutral-900);
  --omlette-label-text-size: 1rem;
  --omlette-label-helper-text-color: var(--tw-color-neutral-700);
  --omlette-label-helper-text-size: 0.875rem;

  --omlette-label-padding-button: 0.35rem;
}
